<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div class="alert alert-error">
      <b><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</b>

      <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :user_id, "Feedback by" %>
    <%= f.select :user_id, User.order("name ASC").map { |c| [c.name, c.id] }, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :category_id %>
    <%= f.select :category_id, Category.order("name ASC").map { |c| [c.name, c.id] }, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :ticket_status_id %>
    <%= f.select :ticket_status_id, TicketStatus.order("position ASC").map { |c| [c.name, c.id] }, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "span5" %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "span5" %>
  </div>
  <div class="form-actions">
    <%= f.submit :class => "btn btn-success" %><br />
    <% if @ticket.id %>
      <%= link_to 'Cancel', @ticket, :class => "btn" %>
    <% else %>
      <%= link_to 'Cancel', tickets_path %>
    <% end %>
  </div>
<% end %>
