<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Title</th>
    <th>Feedback by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.category.name %></td>
    <td><%= ticket.title %></td>
    <td><%= ticket.user.name %></td>
    <td>
      <%= link_to 'Show', ticket %> |
      <%= link_to 'Edit', edit_ticket_path(ticket) %>
      <% if user_signed_in? and current_user.is_admin %>
        | <%= link_to 'Destroy', ticket, confirm: 'Are you sure?', method: :delete %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>

