<h1>Ticket Details</h1>

<p>
  <b>Category:</b>
  <%= @ticket.category.name %>
</p>

<p>
  <b>Feedback by:</b>
  <%= @ticket.user.name %>
</p>

<p>
  <b>Title:</b>
  <%= @ticket.title %>
</p>

<p>
  <b>Description:</b>
  <%= @ticket.description %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
