<div class="page-header">
  <h1>
    Ticket Details
    <% if user_signed_in? and current_user.is_admin %>
      <%= bootstrap_icon_link_to 'Delete', @ticket, "icon-trash icon-white", confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
    <% end %>
      <%= bootstrap_icon_link_to 'Edit', edit_ticket_path(@ticket), "icon-pencil icon-white", :class => "btn btn-primary" %>
  </h1>
</div>

<table class="table table-striped table-bordered table-condensed">
  <tbody>
    <tr>
      <td class="top"><b>Category:</b></td>
      <td><%= @ticket.category.name %></td>
    </tr>
    <tr>
      <td class="top"><b>Feedback by:</b></td>
      <td><%= @ticket.user.name %></td>
    </tr>
    <tr>
      <td class="top"><b>Title:</b></td>
      <td><%= @ticket.title %></td>
    </tr>
    <tr>
      <td class="top"><b>Description:</b></td>
      <td><%= @ticket.description.gsub(/\n/, '<br/>').html_safe %></td>
    </tr>
  </tbody>
</table>