<div class="page-header">
  <h1>
    Ticket Details
    <% if user_signed_in? and current_user.is_admin %>
      <%= bootstrap_icon_link_to 'Delete', @ticket, "icon-trash icon-white", confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
    <% end %>
      <%= bootstrap_icon_link_to 'Edit', edit_ticket_path(@ticket), "icon-pencil icon-white", :class => "btn btn-primary" %>
  </h1>
</div>

<p>
  <b>Category:</b>
  <%= @ticket.category.name %>
</p>

<p>
  <b>Feedback by:</b>
  <%= @ticket.user.name %>
</p>

<p>
  <b>Title:</b>
  <%= @ticket.title %>
</p>

<p>
  <b>Description:</b>
  <%= @ticket.description %>
</p>